.counts {
  margin: 12px 0;
  color: var(--primary-color);
  font-size: 20px;
}

.inputContainer {
  margin-bottom: 30px;
}

@media screen and (min-width: 720px) {
  .inputContainer {
    display: flex;
    justify-content: space-between;
  }

  .counts {
    flex: 1;
  }

  .input {
    flex: 2;
  }
}
